# Proyecto Análisis Numérico

El objetivo de este proyecto, es usar un algoritmo de interpolación que ajuste los datos elegidos en relación con alguna disciplina para estimar valores de años faltantes.

## Primera parte

Inicialmente, consideramos importante hacer una adecuada limpieza de datos para posteriormente, darle sentido a nuestro algoritmo, para esto, consideramos los siguientes pasos:

### 1. Comprensión de los datos

En primer lugar, evidenciamos que las columnas desde el excel, tratan de un modelo acumulativo que intenta predecir el uso de tecnologías.

Evidenciamos que los datos son de tipo numérico, que las columnas no están completas y que se deben reajustar los datos.

In [45]:
import pandas as pd

# Cargar el archivo Excel
file_path = '../assets/Proyecto Final ANM 2024-2.xlsx'
df = pd.read_excel(file_path, sheet_name='cumulative-number-of-notable-ai')

# Mostrar las primeras filas del DataFrame
print(df.tail())

# Mostrar información sobre las columnas y tipos de datos
print(df.info())

   Biology Unnamed: 1 Games Unnamed: 3 Image Generation Unnamed: 5 Language  \
31    2020          8  2020         37             2020         24     2020
32    2021         14  2021         41             2021         32     2021
33    2022         26  2022         45             2022         42     2022
34    2023        NaN  2023        NaN             2023        NaN     2023
35    2024         33  2024         45             2024         54     2024

   Unnamed: 7 Recommendation Unnamed: 9 Robotics Unnamed: 11 Speech  \
31        192           2020         19     2020          11   2020
32        229           2021         19     2021          12   2021
33        274           2022         19     2022          14   2022
34        NaN           2023        NaN     2023         NaN   2023
35        356           2024         19     2024          23   2024

   Unnamed: 13 Vision Unnamed: 15
31          30   2020         195
32          34   2021         218
33          36   2022         228
34         NaN   2023         NaN
35          45   2024         263
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Biology           36 non-null     object
 1   Unnamed: 1        32 non-null     object
 2   Games             36 non-null     object
 3   Unnamed: 3        32 non-null     object
 4   Image Generation  36 non-null     object
 5   Unnamed: 5        32 non-null     object
 6   Language          36 non-null     object
 7   Unnamed: 7        32 non-null     object
 8   Recommendation    36 non-null     object
 9   Unnamed: 9        32 non-null     object
 10  Robotics          36 non-null     object
 11  Unnamed: 11       32 non-null     object
 12  Speech            36 non-null     object
 13  Unnamed: 13       32 non-null     object
 14  Vision            36 non-null     object
 15  Unnamed: 15       32 non-null     object
dtypes: object(16)
memory usage: 4.6+ KB
None

In [28]:
df

,Biology,Unnamed: 1,Games,Unnamed: 3,Image Generation,Unnamed: 5,Language,Unnamed: 7,Recommendation,Unnamed: 9,Robotics,Unnamed: 11,Speech,Unnamed: 13,Vision,Unnamed: 15
0,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain,Year,Cumulative number of AI systems by domain
1,1990,0,1990,4,1990,0,1990,2,1990,0,1990,5,1990,7,1990,17
2,1991,0,1991,4,1991,0,1991,3,1991,0,1991,5,1991,8,1991,17
3,1992,0,1992,5,1992,0,1992,3,1992,0,1992,5,1992,9,1992,18
4,1993,0,1993,5,1993,0,1993,4,1993,0,1993,5,1993,9,1993,18
5,1994,0,1994,5,1994,0,1994,4,1994,1,1994,5,1994,9,1994,18
6,1995,0,1995,5,1995,0,1995,5,1995,1,1995,5,1995,9,1995,19
7,1996,0,1996,5,1996,0,1996,6,1996,1,1996,5,1996,9,1996,20
8,1997,0,1997,6,1997,0,1997,7,1997,1,1997,5,1997,10,1997,22
9,1998,0,1998,6,1998,0,1998,7,1998,2,1998,5,1998,10,1998,23
10,1999,0,1999,6,1999,0,1999,9,1999,2,1999,5,1999,10,1999,24
11,2000,0,2000,6,2000,0,2000,10,2000,3,2000,5,2000,10,2000,24
12,2001,0,2001,6,2001,0,2001,11,2001,3,2001,5,2001,10,2001,25
13,2002,0,2002,6,2002,0,2002,14,2002,3,2002,5,2002,10,2002,25
14,2003,NaN,2003,NaN,2003,NaN,2003,NaN,2003,NaN,2003,NaN,2003,NaN,2003,NaN
15,2004,0,2004,6,2004,0,2004,18,2004,3,2004,5,2004,10,2004,29
16,2005,1,2005,6,2005,0,2005,19,2005,3,2005,5,2005,11,2005,31
17,2006,1,2006,6,2006,0,2006,19,2006,3,2006,5,2006,12,2006,37
18,2007,1,2007,6,2007,0,2007,20,2007,6,2007,5,2007,12,2007,40
19,2008,1,2008,6,2008,0,2008,22,2008,7,2008,5,2008,12,2008,42
20,2009,1,2009,6,2009,0,2009,22,2009,13,2009,5,2009,12,2009,44
21,2010,1,2010,6,2010,0,2010,23,2010,14,2010,5,2010,14,2010,51
22,2011,NaN,2011,NaN,2011,NaN,2011,NaN,2011,NaN,2011,NaN,2011,NaN,2011,NaN
23,2012,1,2012,6,2012,0,2012,34,2012,14,2012,5,2012,16,2012,62
24,2013,1,2013,7,2013,0,2013,45,2013,14,2013,5,2013,18,2013,73
25,2014,1,2014,9,2014,1,2014,56,2014,14,2014,5,2014,19,2014,86
26,2015,1,2015,13,2015,2,2015,62,2015,15,2015,6,2015,21,2015,96
27,2016,2,2016,16,2016,5,2016,77,2016,17,2016,6,2016,22,2016,122
28,2017,NaN,2017,NaN,2017,NaN,2017,NaN,2017,NaN,2017,NaN,2017,NaN,2017,NaN
29,2018,2,2018,27,2018,15,2018,123,2018,18,2018,8,2018,24,2018,163
30,2019,3,2019,34,2019,21,2019,162,2019,19,2019,10,2019,25,2019,184
31,2020,8,2020,37,2020,24,2020,192,2020,19,2020,11,2020,30,2020,195
32,2021,14,2021,41,2021,32,2021,229,2021,19,2021,12,2021,34,2021,218
33,2022,26,2022,45,2022,42,2022,274,2022,19,2022,14,2022,36,2022,228
34,2023,NaN,2023,NaN,2023,NaN,2023,NaN,2023,NaN,2023,NaN,2023,NaN,2023,NaN
35,2024,33,2024,45,2024,54,2024,356,2024,19,2024,23,2024,45,2024,263

### 2. Eliminación de filas innecesarias y datos nulos.

Para ajustar los datos, al tener columnas combinadas, simplemente las columnas van con el nombre de título superior, y una '_' que indica su relación con la subcolumna

Por ejemplo, para year, si está bajo la columna biology, ahora será: biology_year

Además, revisamos si existen datos nulos, en este caso particular evidenciamos que sí existen datos nulos, en el siguiente paso, tomamos una decisión al respecto.

Finalmente, para completar el diseño, buscamos específicamente los años en los que hay datos nulos, ya que sabemos que sólo hay datos nulos, en los values.

In [46]:
# Renombrar columnas de manera más adecuada
df.columns = ['Biology_year', 'Biology_Values', 'Games_year', 'Games_Values', 
              'Image_Generation_year', 'Image_Generation_Values', 'Language_year', 
              'Language_Values', 'Recommendation_year', 'Recommendation_Values', 
              'Robotics_year', 'Robotics_Values', 'Speech_year', 'Speech_Values', 
              'Vision_year', 'Vision_Values']

# Eliminar la primera fila que contiene descripciones
df_clean = df.drop(index=0)

# Verificar si hay valores nulos en el dataset
print(df_clean.isnull().sum())

# Mostrar las primeras filas del dataset limpio
print(df_clean.tail())

columnas_a_convertir = ['Biology_Values', 'Games_Values', 'Image_Generation_Values', 
                        'Language_Values', 'Recommendation_Values', 'Robotics_Values', 
                        'Speech_Values', 'Vision_Values']

Biology_year               0
Biology_Values             4
Games_year                 0
Games_Values               4
Image_Generation_year      0
Image_Generation_Values    4
Language_year              0
Language_Values            4
Recommendation_year        0
Recommendation_Values      4
Robotics_year              0
Robotics_Values            4
Speech_year                0
Speech_Values              4
Vision_year                0
Vision_Values              4
dtype: int64
   Biology_year Biology_Values Games_year Games_Values Image_Generation_year  \
31         2020              8       2020           37                  2020
32         2021             14       2021           41                  2021
33         2022             26       2022           45                  2022
34         2023            NaN       2023          NaN                  2023
35         2024             33       2024           45                  2024

   Image_Generation_Values Language_year Language_Values Recommendation_year  \
31                      24          2020             192                2020
32                      32          2021             229                2021
33                      42          2022             274                2022
34                     NaN          2023             NaN                2023
35                      54          2024             356                2024

   Recommendation_Values Robotics_year Robotics_Values Speech_year  \
31                    19          2020              11        2020
32                    19          2021              12        2021
33                    19          2022              14        2022
34                   NaN          2023             NaN        2023
35                    19          2024              23        2024

   Speech_Values Vision_year Vision_Values
31            30        2020           195
32            34        2021           218
33            36        2022           228
34           NaN        2023           NaN
35            45        2024           263

In [47]:
# Definir nuevamente las columnas con valores nulos y ejecutar el análisis
null_columns = df_clean.columns[df_clean.isnull().any()]

# Extraer los años (Como los años son iguales en todas las columnas, usamos el de biology_year) y las ubicaciones con valores nulos
years_with_nulls = df_clean[['Biology_year'] + list(null_columns)].loc[df_clean[null_columns].isnull().any(axis=1)]

# Mostrar los años y las columnas que tienen valores nulos
years_with_nulls

,Biology_year,Biology_Values,Games_Values,Image_Generation_Values,Language_Values,Recommendation_Values,Robotics_Values,Speech_Values,Vision_Values
14,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Revisión de los datos

Sabiendo los años y las columnas que contienen datos nulos, exportamos nuestro documento con esta información en mente para ser procesada por el algoritmo de esplines cúbicos (que decidimos usar)

In [48]:
# Guardar el DataFrame con los años y valores nulos en un archivo Excel, con las tablas actualizadas y listas para el análisis

output_file_path = '../assets/cleaned_data.xlsx'
df_clean.to_excel(output_file_path, index=False)

output_file_path

'../assets/cleaned_data.xlsx'

### 4. Análisis y generación de los datos

Usamos el algoritmo de splines cúbicos para poner los años faltantes

In [49]:
import numpy as np
from scipy.interpolate import CubicSpline

# Convertir las columnas a numéricas si no lo están
df_clean[columnas_a_convertir] = df_clean[columnas_a_convertir].apply(pd.to_numeric, errors='coerce')

# Iterar sobre cada columna y aplicar la interpolación solo en los valores faltantes
for column in columnas_a_convertir:
    # Extraer los índices de los valores no nulos
    x = np.arange(len(df_clean))
    y = df_clean[column].values
    
    # Crear una máscara para los valores no nulos
    mask = ~np.isnan(y)
    
    # Interpolación por splines cúbicos solo en los valores nulos
    spline = CubicSpline(x[mask], y[mask])
    
    # Solo reemplazar los valores que son nulos
    y_interpolated = y.copy()
    y_interpolated[~mask] = spline(x[~mask])
    
    # Asegurarnos de que no haya valores negativos, los ajustamos a 0 si es necesario
    y_interpolated = np.where(y_interpolated < 0, 0, y_interpolated)
    
    # Actualizar la columna en el DataFrame
    df_clean[column] = y_interpolated

# Verificar si quedan valores nulos después de la interpolación
print(df_clean.isnull().sum())

# Mostrar las primeras filas para observar el resultado
print(df_clean.head())

Biology_year               0
Biology_Values             0
Games_year                 0
Games_Values               0
Image_Generation_year      0
Image_Generation_Values    0
Language_year              0
Language_Values            0
Recommendation_year        0
Recommendation_Values      0
Robotics_year              0
Robotics_Values            0
Speech_year                0
Speech_Values              0
Vision_year                0
Vision_Values              0
dtype: int64
  Biology_year  Biology_Values Games_year  Games_Values Image_Generation_year  \
1         1990             0.0       1990           4.0                  1990
2         1991             0.0       1991           4.0                  1991
3         1992             0.0       1992           5.0                  1992
4         1993             0.0       1993           5.0                  1993
5         1994             0.0       1994           5.0                  1994

   Image_Generation_Values Language_year  Language_Values Recommendation_year  \
1                      0.0          1990              2.0                1990
2                      0.0          1991              3.0                1991
3                      0.0          1992              3.0                1992
4                      0.0          1993              4.0                1993
5                      0.0          1994              4.0                1994

   Recommendation_Values Robotics_year  Robotics_Values Speech_year  \
1                    0.0          1990              5.0        1990
2                    0.0          1991              5.0        1991
3                    0.0          1992              5.0        1992
4                    0.0          1993              5.0        1993
5                    1.0          1994              5.0        1994

   Speech_Values Vision_year  Vision_Values
1            7.0        1990           17.0
2            8.0        1991           17.0
3            9.0        1992           18.0
4            9.0        1993           18.0
5            9.0        1994           18.0

In [50]:
df_clean

,Biology_year,Biology_Values,Games_year,Games_Values,Image_Generation_year,Image_Generation_Values,Language_year,Language_Values,Recommendation_year,Recommendation_Values,Robotics_year,Robotics_Values,Speech_year,Speech_Values,Vision_year,Vision_Values
1,1990,0.000000,1990,4.000000,1990,0.000000,1990,2.000000,1990,0.000000,1990,5.000000,1990,7.000000,1990,17.000000
2,1991,0.000000,1991,4.000000,1991,0.000000,1991,3.000000,1991,0.000000,1991,5.000000,1991,8.000000,1991,17.000000
3,1992,0.000000,1992,5.000000,1992,0.000000,1992,3.000000,1992,0.000000,1992,5.000000,1992,9.000000,1992,18.000000
4,1993,0.000000,1993,5.000000,1993,0.000000,1993,4.000000,1993,0.000000,1993,5.000000,1993,9.000000,1993,18.000000
5,1994,0.000000,1994,5.000000,1994,0.000000,1994,4.000000,1994,1.000000,1994,5.000000,1994,9.000000,1994,18.000000
6,1995,0.000000,1995,5.000000,1995,0.000000,1995,5.000000,1995,1.000000,1995,5.000000,1995,9.000000,1995,19.000000
7,1996,0.000000,1996,5.000000,1996,0.000000,1996,6.000000,1996,1.000000,1996,5.000000,1996,9.000000,1996,20.000000
8,1997,0.000000,1997,6.000000,1997,0.000000,1997,7.000000,1997,1.000000,1997,5.000000,1997,10.000000,1997,22.000000
9,1998,0.000000,1998,6.000000,1998,0.000000,1998,7.000000,1998,2.000000,1998,5.000000,1998,10.000000,1998,23.000000
10,1999,0.000000,1999,6.000000,1999,0.000000,1999,9.000000,1999,2.000000,1999,5.000000,1999,10.000000,1999,24.000000
11,2000,0.000000,2000,6.000000,2000,0.000000,2000,10.000000,2000,3.000000,2000,5.000000,2000,10.000000,2000,24.000000
12,2001,0.000000,2001,6.000000,2001,0.000000,2001,11.000000,2001,3.000000,2001,5.000000,2001,10.000000,2001,25.000000
13,2002,0.000000,2002,6.000000,2002,0.000000,2002,14.000000,2002,3.000000,2002,5.000000,2002,10.000000,2002,25.000000
14,2003,0.000000,2003,5.999676,2003,0.000000,2003,16.425896,2003,2.963435,2003,5.000002,2003,9.820188,2003,26.789457
15,2004,0.000000,2004,6.000000,2004,0.000000,2004,18.000000,2004,3.000000,2004,5.000000,2004,10.000000,2004,29.000000
16,2005,1.000000,2005,6.000000,2005,0.000000,2005,19.000000,2005,3.000000,2005,5.000000,2005,11.000000,2005,31.000000
17,2006,1.000000,2006,6.000000,2006,0.000000,2006,19.000000,2006,3.000000,2006,5.000000,2006,12.000000,2006,37.000000
18,2007,1.000000,2007,6.000000,2007,0.000000,2007,20.000000,2007,6.000000,2007,5.000000,2007,12.000000,2007,40.000000
19,2008,1.000000,2008,6.000000,2008,0.000000,2008,22.000000,2008,7.000000,2008,5.000000,2008,12.000000,2008,42.000000
20,2009,1.000000,2009,6.000000,2009,0.000000,2009,22.000000,2009,13.000000,2009,5.000000,2009,12.000000,2009,44.000000
21,2010,1.000000,2010,6.000000,2010,0.000000,2010,23.000000,2010,14.000000,2010,5.000000,2010,14.000000,2010,51.000000
22,2011,1.003998,2011,5.825431,2011,0.058405,2011,26.743729,2011,13.844947,2011,4.982058,2011,15.035118,2011,56.193129
23,2012,1.000000,2012,6.000000,2012,0.000000,2012,34.000000,2012,14.000000,2012,5.000000,2012,16.000000,2012,62.000000
24,2013,1.000000,2013,7.000000,2013,0.000000,2013,45.000000,2013,14.000000,2013,5.000000,2013,18.000000,2013,73.000000
25,2014,1.000000,2014,9.000000,2014,1.000000,2014,56.000000,2014,14.000000,2014,5.000000,2014,19.000000,2014,86.000000
26,2015,1.000000,2015,13.000000,2015,2.000000,2015,62.000000,2015,15.000000,2015,6.000000,2015,21.000000,2015,96.000000
27,2016,2.000000,2016,16.000000,2016,5.000000,2016,77.000000,2016,17.000000,2016,6.000000,2016,22.000000,2016,122.000000
28,2017,2.267756,2017,20.426681,2017,9.308352,2017,95.341592,2017,17.680306,2017,6.496750,2017,23.143830,2017,143.616872
29,2018,2.000000,2018,27.000000,2018,15.000000,2018,123.000000,2018,18.000000,2018,8.000000,2018,24.000000,2018,163.000000
30,2019,3.000000,2019,34.000000,2019,21.000000,2019,162.000000,2019,19.000000,2019,10.000000,2019,25.000000,2019,184.000000
31,2020,8.000000,2020,37.000000,2020,24.000000,2020,192.000000,2020,19.000000,2020,11.000000,2020,30.000000,2020,195.000000
32,2021,14.000000,2021,41.000000,2021,32.000000,2021,229.000000,2021,19.000000,2021,12.000000,2021,34.000000,2021,218.000000
33,2022,26.000000,2022,45.000000,2022,42.000000,2022,274.000000,2022,19.000000,2022,14.000000,2022,36.000000,2022,228.000000
34,2023,36.274504,2023,46.916577,2023,50.293199,2023,319.124739,2023,18.968114,2023,17.519087,2023,38.625392,2023,235.124512
35,2024,33.000000,2024,45.000000,2024,54.000000,2024,356.000000,2024,19.000000,2024,23.000000,2024,45.000000,2024,263.000000

In [52]:
# Guardar el DataFrame con los años y valores nulos en un archivo Excel
output_file_path = '../assets/final_data.xlsx'
df_clean.to_excel(output_file_path, index=False)

output_file_path

'../assets/final_data.xlsx'

### Conclusión del Equipo de Investigación

En el presente análisis, se utilizaron métodos de interpolación por **splines cúbicos** para rellenar los datos faltantes en un conjunto de datos acumulativos. Se concluye que este enofque no fue totalmente adecuados para los datos analizados debido a la naturaleza acumulativa del conjunto.

#### Resultados y Limitaciones:
- **Inconsistencias en la acumulación**: Los métodos aplicados generaron resultados en los que algunos valores interpolados eran mayores que los correspondientes a años posteriores. Esta inconsistencia es inaceptable para un conjunto de datos acumulativos, donde los valores deberían ser **monótonos no decrecientes**.
  
- **Naturaleza de los métodos de interpolación**: Los splines cúbicos están diseñados para suavizar las transiciones entre puntos, pero no garantizan que los valores interpolados sigan una tendencia estrictamente creciente, lo que puede llevar a fluctuaciones en los datos. De manera similar, el método de Hermite, aunque más conservador, no impone restricciones de monotonía, lo que contribuyó a la aparición de estas inconsistencias.

- **Influencia de los saltos en los datos**: La presencia de grandes diferencias entre los valores de los años conocidos también afectó la capacidad de estos métodos para interpolar de manera adecuada. Los métodos aplicados tienden a suavizar estas transiciones, lo que en algunos casos resultó en sobreestimaciones o subestimaciones.

#### Recomendaciones:
Para evitar este tipo de inconsistencias en futuros análisis de datos acumulativos, recomendamos el uso de métodos de interpolación que preserven la **monotonía de los datos**, como el **PCHIP (Piecewise Cubic Hermite Interpolating Polynomial)**, que asegura que los valores interpolados sean crecientes o, al menos, no decrecientes.

En los casos donde la interpolación no pueda garantizar los resultados esperados, sugerimos la **verificación manual** de los datos, con ajustes posteriores para garantizar que se mantenga la naturaleza acumulativa de los mismos. Métodos de relleno más simples, como el relleno hacia adelante (forward fill), también pueden ser adecuados cuando los datos faltantes son limitados.

En conclusión, aunque los métodos de interpolación por splines cúbicos y Hermite pueden ser útiles en ciertos contextos, no son ideales para datos acumulativos sin ajustes adicionales que garanticen la consistencia en la progresión de los valores.